@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #ADD7F6;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

body{
    backdrop-filter: blur(8px);
}
.container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

.row {
    padding: 1em;
}
#rowInner{
    background-color: #87BFFF;
    margin: 1em;
}

.col{
    padding: 1ex;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2667FF;
    color: white;
    text-align: center;
    padding: 1em;
}
.container input, button {
    border: 0;
    outline: none;
}
.popover {
    min-width: 15em;
    min-height: 15em;
}
#superDiv{
    display: flex;
    flex-direction: row;
}
#addRoomDiv{
    color: #2667FF;
    display: flex;
    flex-direction: column;
    text-align: end;    
    
}
#roomIconP{
    background-color:#2667FF ;
    color: white;
    border-radius: 50%;
}
#addRoomSection{
    background-color: rgb(120, 187, 250); 
    min-height: 60%;  
    text-align: center;  
}
#nocheDiv, #roomDiv{
    display: flex;
    flex-direction: column;
    font-size: large;
}
.guestDivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
}
.guestDivs input{
    max-width: 30%;
}
h4{
    color: rgb(50, 149, 50);
}